<nav class="nav">
    <h1><a routerLink="/" class="">E-COMM</a></h1>
    <div *ngIf="menuType==='default'" class="nav-search mt-3">
        <input type="text" placeholder="Search for Product" />
        <button class="">Search</button>
    </div>

    <div [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'">
            <li><a routerLink="/seller-auth" class="">Seller</a></li>
            <li><a routerLink="/" class="">Home</a></li>
            <li><a href="#" class="">Login</a></li>
            <li><a href="#" class="">Cart(0)</a></li>
        </ul>
        <ul *ngSwitchCase="'seller'">
            <li><a routerLink="/seller-add-product" class="">Add Product</a></li>
            <li><a routerLink="/seller-home" class="">Product List</a></li>
            <li><a (click)="logOut()" class="cursor-pointer" class="">Logout</a></li>
            <li><a href="#" class="">{{sellerName}}</a></li>
        </ul>
    </div>
</nav>