.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(197, 197, 197);
    padding-bottom: 18px;
}

.nav h1 {
    margin-top: 12px;
    font-size: 40px;
}

.nav ul {
    display: inline-flex;
    /* gap: 7px; */
    padding: 0;
    margin: 0;
    margin-top: 8px;
}

.nav ul li {
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
}

.nav ul li a {
    text-decoration: none;
}

.nav .nav-search {
    width: 45%;
}

.nav .nav-search input {
    flex: 1;
    /* color: blueviolet; */
    /* border: 1px solid blueviolet; */
    height: 35px;
    border-right: 0px;
    width: 70%;
    padding: 18.3px 10px;

}

.nav .nav-search button {
    /* color: blueviolet; */
    /* border: 1px solid blueviolet; */
    height: 38px;
    border-left: 0px;
    width: 20%;
}

.searchSuggession {
    display: flex;
    flex-direction: column;
    gap: 0px;
    position: absolute;
    border: 1px solid #ddd;
    background-color: #fff;
    z-index: 100;
    left: 0;
    top: 29px;
    width: 70%;
    display: list-item;
    margin: 0;
    padding: 0;
}

.searchSuggession li{
    border: 1px solid #ddd;
    padding: 5px 11px;
}
.searchSuggession li:hover {
    background-color: #eaeaea;
    padding: 5px 11px;
    cursor: pointer;
}