<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="accordion" id="accordionPayment">
                <p class="text-success text-center text-xl">{{orderMsg}}</p>
                <div class="accordion-item mb-3 p-7">
                    <h1 class="font-bold text-3xl text-center mb-5 text-[#198754]">Checkout</h1>
                    <form #orderData="ngForm" (ngSubmit)="orderNow(orderData.value)">
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="Email">Email</label>
                            <input type="email" id="Email" class="form-control" name="email" ngModel
                                placeholder="Enter User Email" />
                        </div>

                        <!-- Address input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="address">Address</label>
                            <input type="text" id="address" class="form-control" name="address" ngModel
                                placeholder="Enter User Address" />
                        </div>

                        <!-- contact -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="contact">Contact</label>
                            <input type="text" id="" class="form-control" name="contact" placeholder="Enter contact details" ngModel />
                        </div>
                        <!-- Submit button -->
                        <button type="submit" class="bg-[#198754] text-white pt-2 pb-2 pl-6 pr-6 rounded-lg w-[100%] hover:bg-[#198754d4] mb-3">Order Now</button>
                    </form>

                </div>
                <div class="accordion-item mb-3 border">
                    <div id="collapsePP" class="accordion-collapse collapse" data-bs-parent="#accordionPayment"
                        style="">
                        <div class="accordion-body">
                            <div class="px-2 col-lg-6 mb-3">
                                <label class="form-label">Email address</label>
                                <input type="email" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right -->
        <div class="col-lg-3">
            <div class="card position-sticky top-0">
                <div class="p-3 bg-light bg-opacity-10">
                    <h6 class="card-title mb-3">Order Summary</h6>
                    <hr>
                    <div class="d-flex justify-content-between mb-4 small">
                        <span>TOTAL</span> <strong class="text-dark">₹{{totalPrice}}</strong>
                    </div>
                    <!-- <button class="btn btn-success w-100 mt-2">Place order</button> -->
                </div>
            </div>
        </div>
    </div>
</div>