<main class="page">
    <section class="shopping-cart dark">
        <div class="container">
            <div class="block-heading">
                <h2>Shopping Cart</h2>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-8">
                        <div *ngFor="let cart of cartData"
                            class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
                            <div class="d-flex flex-row">
                                <img class="rounded" src={{cart.image}} width="40">
                                <div class="ml-2">
                                    <span class="font-weight-bold d-block">{{cart.name}}</span><span
                                        class="spec">{{cart.color}}</span>
                                </div>
                            </div>
                            <div class="d-flex gap-4 flex-row align-items-center mr-[10%]">
                                <span class="d-block">Quantity : {{cart.quantity}}</span>
                                <span class="d-block ml-5 font-weight-bold">Price : ₹{{cart.price}}</span>
                                <button (click)="removeToCart(cart.id)" class="btn btn-danger text-[12px]">
                                    <fa-icon [icon]="deleteIcon" class="ml-3 cursor-pointer"></fa-icon>
                                    Remove To Cart 
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="summary">
                            <h3>Summary</h3>
                            <div class="summary-item">
                                <span class="text">price</span>
                                <span class="price">₹{{cartSummary.price}}</span>
                            </div>
                            <div class="summary-item">
                                <span class="text">Discount</span>
                                <span class="price">₹{{cartSummary.discount}}</span>
                            </div>
                            <div class="summary-item">
                                <span class="text">tax</span>
                                <span class="price">₹{{cartSummary.tax}}</span>
                            </div>
                            <div class="summary-item">
                                <span class="text">delivery</span>
                                <span class="price">₹{{cartSummary.delivery}}</span>
                            </div>
                            <div class="summary-item">
                                <span class="text">Total</span>
                                <span class="price">₹{{cartSummary.total}}</span>
                            </div>
                            <button (click)="checkout()" type="button" class="btn bg-[#386BC0] hover:bg-[#386BC0] text-white">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>