<div class="table-responsive w-[60%] min-w-[370px]  m-auto">
    <div class="h4">My Order</div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Product</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Total Price</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Order Id</div>
                </th>
                <!-- <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Quantity</div>
                </th> -->
                <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Remove</div>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let order of orderedData" class="border">
                <th scope="row" class="border-0">
                    <div class="p-2">
                        <img src="../../assets/order-icon.png" alt="" width="70"
                            class="img-fluid rounded shadow-sm">
                    </div>
                </th>
                <td class="border-0 align-middle"><strong>₹{{order.totalPrice}}</strong></td>
                <td class="border-0 align-middle"><strong>#{{order.id}}</strong></td>
                <!-- <td class="border-0 align-middle"><strong>{{order.}}</strong></td> -->

                <td class="border-0 align-middle">
                    <button (click)="cancelOrder(order.id)" class="btn btn-danger">Cancel Order</button>
                </td>
            </tr>
        </tbody>

    </table>
</div>