/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: sans-serif;
    /* background-color: #444; */
}

.container {
    /* margin-left: 5%; */
    /* margin-right: 5%; */
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.light-mode {
    background-color: #fff;
    color: black;
}