<ngb-carousel *ngIf="popularProducts" class="mt-4 ">
    <ng-template *ngFor="let item of popularProducts" ngbSlide>
        <div class="picsum-img-wrapper" class="h-96">
            <img src={{item.image}} alt="Random first slide" style="width: 100%; height: 100%; object-fit: contain;" />
        </div>
        <div class="carousel-caption">
            <h3>{{item.name}}</h3>
            <p>{{item.description}}</p>
        </div>
    </ng-template>
</ngb-carousel>

<div class="container mt-8">
    <div class="row">
        <h1 class="text-center text-3xl mb-2 font-bold">All Trendy Product</h1>
        <div *ngFor="let item of trendyProducts" class="col-sm-3">
            <div class="card">
                <div class="card-image">
                    <a routerLink="/details/{{item.id}}"><img src={{item.image}} class="card-img" alt={{item.name}} />
                        <img class="img-responsive" src="{{item.image}}"></a>
                </div>

                <div class="card-content text-center">
                    <h3 class="text-center font-bold">{{item.name}}</h3>
                    <p>Price: {{item.price}} ₹</p>
                    <p>Color: {{item.color}}</p>

                </div>

                <div class="card-action">
                    <a routerLink="/details/{{item.id}}" target="new_blank">View Details</a>
                    <a href="#" target="new_blank">Add to Card</a>
                </div>
            </div>
        </div>
    </div>
</div>